@charset "utf-8";
@import "variables";

svg {
    fill: $brand-color;
    .darker {
        fill: darken($brand-color, 15%);
    }
    .lighter {
        fill: lighten($brand-color, 15%);
    }
}

svg .grey {
    fill: $grey-color;
    .darker {
        fill: $grey-color-dark;
    }
    .lighter {
        fill: $grey-color-light;
    }
}

svg .filter {
    fill: $filter-color;
    .darker {
        fill: $filter-color-dark;
    }
}
