---
layout: page
title: 'about'
permalink: /about/
order: 2
---

{% capture intro %}{% include intro.md %}{% endcapture %}
{{ intro | markdownify }}

<hr />

<div class="columns">
	<section id="motivation">
		{% capture motivation %}{% include motivation.md %}{% endcapture %}
		{{ motivation | markdownify }}
	</section>
	<section id="skills">
		<h4>Skills</h4>
		<label for="cpp-skill">C++</label>
		<progress id="cpp-skill" value="100" max="100"></progress>
		<label for="python-skill">Python</label>
		<progress id="python-skill" value="80" max="100"></progress>
		<label for="bash-skill">Bash</label>
		<progress id="bash-skill" value="75" max="100"></progress>
		<label for="rust-skill">Rust</label>
		<progress id="rust-skill" value="85" max="100"></progress>
		<label for="js-skill">Javascript</label>
		<progress id="js-skill" value="40" max="100"></progress>
		<label for="web-skill">HTML / CSS</label>
		<progress id="web-skill" value="50" max="100"></progress>
		<label for="objc-skill">Objective-C</label>
		<progress id="objc-skill" value="60" max="100"></progress>
		<label for="git-skill">Git</label>
		<progress id="git-skill" value="90" max="100"></progress>
	</section>
</div>

<hr />

<div class="timeline">
	<section>
		<h3>Experience</h3>
		<section>
			<h4>Research Scientist at LMU Munich</h4>
			<h5>10/2015 &ndash; 8/2019</h5>
			<p>Development of a machine learning framework for the recognition of unconventional magnetic phases in Monte Carlo simulations of frustrated spin systems. This entails the characterization of so-called spin liquids and types of spin order which exhibit multipolar moments rendering them invisible to conventional numeric probes—“hidden order”. The method relies on a combination of support vector machines and spectral graph theory.</p>
		</section>
	</section>
	<section>
		<h3>Education</h3>
		<section>
			<h4>Doctoral studies at LMU Munich</h4>
			<h5>until 2019</h5>
			<h6><a href="https://www.theorie.physik.uni-muenchen.de/lsschollwoeck/index.html">Chair for theoretical nanophysics</a>; advisor: <a href="https://www.theorie.physik.uni-muenchen.de/lsschollwoeck/members/professors/pollet/index.html">Prof. Dr. Lode Pollet</a></h6>
			<p>Thesis: <em>Investigation of hidden multipolar spin order in frustrated magnets using interpretable machine learning techniques</em></p>
		</section>
		<section>
			<h4>Master of Science (Physics) from RWTH Aachen</h4>
			<h5>2015</h5>
			<h6><a href="https://www.solidtheory.rwth-aachen.de/">Institute for theoretical solid state physics</a>; advisor: <a href="https://www.solidtheory.rwth-aachen.de/go/id/fpbi">Prof. Stefan Wessel, PhD</a></h6>
			<p>Master's thesis: <em>Quantum Monte Carlo investigation of the one-dimensional Hubbard-Holstein model</em> — Implementation and optimization of a highly parallel Monte Carlo simulation; extensive numerical studies at the Jülich Supercomputing Centre (0.5M CPU-hrs.)</p>
		</section>
		<section>
			<h4>Bachelor of Science (Physics) from RWTH Aachen</h4>
			<h5>2013</h5>
			<h6><a href="https://www.solidtheory.rwth-aachen.de/">Institute for theoretical solid state physics</a>; advisor: <a href="https://www.solidtheory.rwth-aachen.de/go/id/fpbi">Prof. Stefan Wessel, PhD</a></h6>
			<p>Bachelor's thesis: <em>Stochastic Analytic Continuation</em> — Implementation of an optimization algorithm (in C++) for solving the inverse problem inherent to the reconstruction of spectral functions from quantum Monte Carlo simulation data</p>
		</section>
		<section>
			<h4>Abitur</h4>
			<h5>2010</h5>
			<h6>Städt. Gymnasium Sundern</h6>
		</section>
	</section>
</div>
