---
layout: default
title: 'home'
long-title: >
    Jonas Greitemann's home on the web
order: 1
nav-icon: home.svg
---

<!-- Brief intro -->
<div class="header-intro">
    {% capture intro %}{% include intro.md %}{% endcapture %}
    {{ intro | markdownify }}
</div>
<hr />
<!-- End intro -->

<!-- <h1>latest blog posts</h1> -->

{% include post_list.html limit=3 %}

<a class="more" href="{{ site.baseurl }}{% link blog/index.html %}">more &rarr;</a>
<hr />
<br />

<h1>academic publications</h1>

{% include publications.html limit=3 %}

<a class="more" href="{{ site.baseurl }}{% link publications.html %}">more &rarr;</a>
<hr />
