---
layout: default
title: 'home'
long-title: >
    Jonas Greitemann's home on the web
order: 1
---

<!-- Brief intro -->
<div class="header-intro">
    {% capture intro %}{% include intro.md %}{% endcapture %}
    {{ intro | markdownify }}
</div>
<hr />
<!-- End intro -->

<h1>recent publications</h1>

{% include publications.html limit=3 %}

<a class="more" href="./publications">more &rarr;</a>
<hr />

<h1>recent blog posts</h1>

{% include post_list.html limit=5 %}

<a class="more" href="./blog">more &rarr;</a>
<hr />
