<div class="header-container" id="header-container">
    <div class="wrapper">

        <!-- Site navigation -->
        <nav class="site-nav">
            <div class="trigger">
                {% assign default_paths = site.pages | sort:"order" | uniq:"order" | map: "path" %}
                {% assign page_paths = site.header_pages | default: default_paths %}
                {% for path in page_paths %}
                {% assign entry = site.pages | where: "path", path | first %}
                {% if entry.order %}
                {% if entry.title %}
                <a class="page-link{% if page.title == entry.title %} selected{% endif %}"
                   href="{{ entry.url | prepend: site.baseurl }}">
                    <span>{{ entry.title }}</span>
                </a>
                {% endif %}
                {% endif %}
                {% endfor %}
                <!-- <a class="page-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a> -->
            </div>
        </nav>

        <div id="social-buttons">
            {% include social-buttons.html %}
        </div>

    </div>
</div>
