{% assign post_limit = include.limit | default: 999 %}
{% assign posts = include.posts | default: site.posts %}
<ul class="post-list">
{% for post in posts %}
  {% if include.tag %}
  {% if post.tags contains include.tag %}
  {% else %}
  {% continue %}
  {% endif %}
  {% endif %}
  <li>
    <a href="{{ post.url | prepend: site.baseurl }}">
    <aside class="dates">{{ post.date | date: "%b %-d" }}</aside>
    </a>
    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} <h2><p>{{ post.excerpt | strip_html }}</p></h2></a>
  </li>
  {% assign post_limit = post_limit | minus: 1 %}
  {% if post_limit == 0 %}
  {% break %}
  {% endif %}
{% endfor %}
</ul>
