{% assign pub_limit = pub_limit | default: 999 %}
<ul id="references">
    {% assign pubs = site.publications | sort: "arxiv" %}
    {% for pub in pubs reversed %}
    {% assign arxiv = pub.arxiv | default: pub.title %}
    {% assign ref = pub.journal-ref | default: "preprint" %}
    <li>
        <aside>
            {% if pub.doi %}
            <a class="ref-link" href="https://doi.org/{{ pub.doi }}">
                DOI
            </a>
            {% endif %}
            <a class="ref-link" href="https://arxiv.org/abs/{{ arxiv }}">
                {% include arxiv_icon.svg %}
                {{ arxiv }}
            </a>
        </aside>
        <a href="{{ pub.url }}">
            <span class="pub-index">[{{ forloop.rindex }}]</span>
            <span>
                {{ ref }}
                {% if pub.year %}
                ({{ pub.year }})
                {% endif %}
            </span>
            {% if pub.authors or pub.long-title %}
            <div class="pub-byline">
                {% if pub.authors %}
                {{ pub.authors | array_to_sentence_string }}{% if pub.long-title %}:{% else %}.{% endif %}
                {% endif %}
                {% if pub.long-title %}
                <em>
                    {{ pub.long-title }}.
                </em>
                {% endif %}
            </div>
            {% endif %}
            {% assign pub_limit = pub_limit | minus: 1 %}
            {% if pub_limit == 0 %}
            {% break %}
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
