/**
 * Site header
 */

.header-intro {
    font-size: 18px;
    color: $grey-color;
}
.header-intro a, .header-intro a:visited {
    color: $grey-color;
}
.header-intro a:hover {
    color: $brand-color;
    text-decoration: none;
}

.header-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: $header-height;
    background: #3366ff;
    background-image: -moz-linear-gradient(right top, $from 0%, $to 100%);
    background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, $from), color-stop(1, $to));
    background: -webkit-linear-gradient(right top, $from 0%, $to 100%);
    background: -o-linear-gradient(right top, $from 0%, $to 100%);
    background: -ms-linear-gradient(right top, $from 0%, $to 100%);
    background: linear, right top, $from 0%, $to 100%;
    opacity: 0.95;
    z-index: 10;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

// Header hiding
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin transform($transforms) {
       -moz-transform: $transforms;
         -o-transform: $transforms;
        -ms-transform: $transforms;
    -webkit-transform: $transforms;
          transform: $transforms;
}

.headroom {
    @include transition(transform, 200ms, linear);
}

.headroom--pinned {
    display: block;
    @include transform(translateY(0%));
}
.headroom--unpinned {
    // display: none;
    @include transform(translateY(100%));
}

// Avatar

.avatar {
    width: 62;
    height: 62;
    position: absolute;
    border-radius: 80%;
    overflow: hidden;
    display: block;
}

.site-header {
    margin-bottom: 21px;
    position: relative;
    // margin: 0 auto;
    text-align: center;
    max-width: 1024px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}

.site-header a.site-title {
    color: #fff;
    text-align: center;
}

.site-title {
    position: relative;
    padding: 1em 0;
    display: block;
    font-weight: 600;
    left: 60px;

    &,
    &:visited, &:hover {
        text-decoration: none;
        color: #7923D5;
    }
}

a .site-title {
    color: #5badf0;
    color: #5694f1;
}

.page-link {
    display: inline-block;
    line-height: 100%;
    font-size: 14px;
    margin: 0;
    margin-bottom: 20px;
    font-size: 17px;
}

nav.site-nav {
    float: left;
    height: 100%;
    margin: 0px;

    .page-link {
        height: $header-height;
        line-height: $header-height;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        margin: 0px;
        text-decoration: none;

        // Gaps between nav items, but not on the first one
        padding: 0 $nav-sep / 2;
        @include media-query($on-laptop) {
            padding: 0 $nav-sep-laptop / 2;
        }
        &:first-child {
            padding-left: 0;
        }

        &.selected > span {
            border-bottom: 2px solid #fff;
        }

        & > svg {
            display: inline-block;
            position: relative;
            vertical-align: middle;
            bottom: 0.1em;
            width: 1.2em;
            & path {
                fill: #fff;
                opacity: 0.7;
            }
        }

        &.selected > svg path, &:hover > svg path {
            opacity: 1.0;
            transition: opacity .5s ease-out
        }
    }
}

#social-buttons {
    float: right;
    height: 100%;
    margin-top: -webkit-calc((#{$header-height} - #{$social-button-size})/2);
    margin-top:         calc((#{$header-height} - #{$social-button-size})/2);
    margin-bottom: -webkit-calc((#{$header-height} - #{$social-button-size})/2);
    margin-bottom:         calc((#{$header-height} - #{$social-button-size})/2);
    margin-left: 6px;
    margin-right: 0px;

    & a {
        display: inline-block;
        width: $social-button-size;
        height: $social-button-size;
        text-decoration: none;
        & svg {
            fill: $social-button-color;
            opacity: 0.7;
            width: $social-button-size;
            height: $social-button-size;
        }
        &:hover svg {
            opacity: 1.0;
            transition: opacity .5s ease-out
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    // box-shadow: inset 0 1px 0 #DFE1E4;
    padding: 40px 0 0 0;
    margin-top: 100px;
}

.site-footer p {
    color: #bbb;
    font-size: 14px;
    line-height: 1.5;
    display: block;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}


/**
 * Page content
 */

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

a,
.post-list a:hover,
.post-list li:hover .dates {
    text-decoration: none;
    color: $brand-color;
}

.post-list a {
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

/*=========================================
Post List
=========================================== */
.post-list,#archive-list {
    margin-top: 50px;
}

.post-list li,#archive-list li {
    list-style-type: none;
}

.post-list li:last-child {
    margin-bottom: 0;
}

.post-list li+li {
    padding-top: 20px;
    border-top: 1px solid #DFE1E4;
}

.post-list a {
    color: #333;
    display: block;
    font: 600 21px/1.7 $base-font-family;
}

.post-list h2 {
    font: normal 19px/1.5em $base-font-family;
    color: $grey-color;
    max-width: 400px;
    margin-top: 2px;
}

#intro-text {
    padding-top: 10px;
}

.post-list .dates {
    float: right;
    position: relative;
    top: 1px;
    font: 300 17px/1.8 $base-font-family;
    color: $grey-color;
}

.post-list-footer {
    border-top: 1px solid #DFE1E4;
    margin-top: 20px;
    padding-top: 100px;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;

    & > a {
        display: block;

        &:hover {
            text-decoration: none;

            .post-title {
                color: $brand-color;
            }
        }
    }
}

.post-title {
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 30px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.related {
    padding-top: 20px;
}
.related li {
    list-style: none;
}
.related li .post-meta {
    font-size: 15px;
}
.related a:link, .related a:hover {
    text-decoration: none;
}

// PAGINATION
.pagination {
    border-top: 1px solid $grey-color-light;
    margin-top: 50px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    & > * {
        min-width: 25%;
    }
    & > span {
        text-align: center;
    }
}

.pagination-link {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    border-radius: 4px;
    padding: 0.5em;
    white-space: nowrap;
    &.next {
        text-align: right;
    }
}

span.arrow {
    position: relative;
    top: 0;
    font-size: 17px;
}

#byline {
    font-weight: normal;
}

.more {
    float: right;
}

ul.anchors {
    float: right;
    position: relative;
    margin: 0px;

    & > li {
        display: inline-block;
        font-size: 50%;
        &:not(:first-child) {
            &::before {
                content: '\00b7';
                margin-right: 0.3em;
            }

        }
    }
}

.centered {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
