@charset "utf-8";

ul.tags-list {
    list-style: none;
    color: $grey-color;
    margin: 0;
    & > li {
        display: inline-block;
        margin: 0.1em;
        vertical-align: middle;
        &:not(:last-child)::after {
            content: ',';
        }
    }
    &::before {
        content: 'tags:';
        padding-left: 1.2em;
        background-image: url(/assets/svg/tags.svg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

$tag-hole-size: 0.4em;
$tag-left-pad: 1.2em;
$tag-right-pad: 1em;
$tag-height: 1.4em;
$tag-baseline-shift: 0.0em;
$tag-border-frac: 0.7;

.tag, a.tag:visited {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    padding: $tag-baseline-shift calc(#{$tag-right-pad}*(1 - #{$tag-border-frac})) 0 $tag-left-pad;
    margin-right: calc(#{$tag-right-pad}*#{$tag-border-frac});
    background-color: $grey-color-light;
    color:            $grey-color-dark;
    border-radius: 0.3em 0 0 0.3em;
    height: $tag-height;
    line-height: calc(#{$tag-height} - #{$tag-baseline-shift});
    & > span {
        font-weight: 300;
        font-size: 80%;
    }
    &::before {
        position: absolute;
        content: '';
        left: calc((#{$tag-left-pad} - #{$tag-hole-size})/1.8);
        top:  calc((#{$tag-height} - #{$tag-hole-size})/2);
        width:  $tag-hole-size;
        height: $tag-hole-size;
        background-color: #fff;
        box-shadow: inset 0 1.5px $grey-color;
        border-radius: $tag-hole-size;
    }
    & > svg {
        position: absolute;
        top: 0;
        right: calc(-#{$tag-right-pad}*#{$tag-border-frac});
        width: calc(#{$tag-right-pad}*#{$tag-border-frac});
        height: $tag-height;
        fill: $grey-color-light;
    }
}

a.tag:hover {
    text-decoration: none;
    background-color: $brand-color;
    color: white;
    transition: all 0.3s ease-in-out;
    &::before {
        box-shadow: inset 0 1.5px darken($brand-color, 15%);
        transition: all 0.3s ease-in-out;
    }
    & > svg {
        fill: $brand-color;
        transition: all 0.3s ease-in-out;
    }
}
