---
layout: default
title: blog
order: 6
math-enabled: true
---

<h1>blog</h1>

{% include post_list.html posts=paginator.posts show_year=true %}

<div class="pagination">
    {% if paginator.previous_page %}
    <a class="pagination-link" href="{{ paginator.previous_page_path }}" class="previous"><span class="arrow">&larr;</span> Previous</a>
    {% else %}
    <span></span>
    {% endif %}
    <span class="pagination-link">
        {{ paginator.page }} / {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
    <a class="pagination-link next" href="{{ paginator.next_page_path }}" class="next">Next <span class="arrow">&rarr;</span></a>
    {% else %}
    <span></span>
    {% endif %}
</div>
